.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ant-menu-dark {
  background: #006633 !important
}
.ant-layout-sider {
  background: #006633 !important
}
.ant-layout-sider-trigger {
  background: #006633 !important;
}
.ant-menu-item-selected {
  background: white !important;
  color: #006633 !important;
}

 .ant-btn-primary {
  background: #006633 !important;
  border-color: #006633 !important;
  color: white !important;
}


/* .ant-btn-danger {
  background: #BC4639 !important;
  border-color: #BC4639 !important;
  color: #fff !important;
}  */